@import 'tailwindcss';

:root {
  --background: #0a0117;
  --foreground: #171717;
  --light-purple: #4a44e057;
  --font-italiana: 'Italiana', sans-serif;
  --font-jomhuria: 'Jomhuria', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-italiana: var(--font-italiana);
  --font-jomhuria: var(--font-jomhuria);
  --input-color: var(--light-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0117;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes chroma {
  0% {
    color: #fff;
  }

  12% {
    color: #221662; /* Lavanda intensa */
  }
  33% {
    color: #3e2293; /* Roxo médio mais saturado */
  }
  66% {
    color: #8059ce; /* Berinjela profundo e vibrante */
  }
  72% {
    color: #221662; /* Volta para lavanda intensa */
  }

  100% {
    color: #fff;
  }
}

.chroma-text {
  animation: chroma 5s infinite linear;
}

@keyframes open-close-text {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes up-to-down-appears {
  0% {
    transform: translateY(-72%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes center-slide {
  0% {
    padding-left: 32x;
    padding-right: 32px;
    opacity: 0;
  }

  100% {
    padding-left: 80px;
    padding-right: 80px;
    opacity: 0.5;
  }
}

.open-close {
  animation: open-close-text 0.7s;
}

.up-to-down {
  animation: up-to-down-appears 1.2s;
}

.center-slide {
  animation: center-slide 0.35s ease-in forwards;
}

.sign-in-text-shadow {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px #221662, 0 0 5px #221662, 0 1px 3px #3e2293,
    0 3px 5px #3e2293, 0 5px 10px #8059ce, 0 10px 10px #3e2293,
    0 20px 20px #8059ce;
}

input[type='password']::-ms-reveal,
input[type='password']::-webkit-reveal {
  display: none;
}

@tailwind utilities;
